<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Directives</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body ng-controller="scopeCtrl">
  <div class="panel panel-default">
    <div class="panel-body" scope-demo></div>
    <div class="panel-body" scope-demo></div>
  </div>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/ng-template" id="scopeTemplate">
    <div class="panel-body">
      <p>Name: <input type="text" ng-model="data.name"></p>
      <p>City: <input type="text" ng-model="city"></p>
      <p>Country: <input type="text" ng-model="country"></p>
    </div>
  </script>
  <script>
    angular.module("exampleApp", [])
      .directive("scopeDemo", function() {
        return {
          template: function() {
            return angular.element(document.querySelector("#scopeTemplate")).html();
          },
          scope: {}
        };
      })
      .controller("scopeCtrl", function($scope) {
        $scope.data = {name: "Adam"};
        $scope.city = "London";
      });
  </script>
</body>
</html>